.tp {
    position: fixed;
    top: 0%;
   background-color: rgb(183, 180, 180);
   width: 1900px;
   height: 125px;
}
.bc {
    position: fixed;
    background-color: rgb(90, 90, 239);
    height: 75px;
    width: 75px;
    left: 2%;
    top: 2%;
}
.words {
    position: fixed;
    top: 20%;
    margin-left: 3%;
    margin-right: 3%;
}
.more {
    position: fixed;
    margin-left: 3%;
    margin-right: 3%;
    top: 30%;
}
.bx1 {
    position: fixed;
    background-color: rgb(114, 114, 230);
    height: 200px;
    width: 1900px;
    top: 50%;
}
.bx2 {
    position: fixed;
    background-color: rgb(82, 232, 189);
    height: 200px;
    width: 1900px;
    top: 70%;
}
.bx3 {
    position: fixed;
    background-color: rgb(204, 229, 114);
    height: 200px;
    width: 1900px;
    top: 90%;
}
.bx4 {
    background-color: yellow;
    height: 200px;
    position: fixed;
    width: 1900px;
    top: 110%;
}
